*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}

body{
    background-color: rgba(138, 219, 192, 0.596);
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    margin-top: 40px;
}

#marca{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

#Binput{
    background-color: red;
    margin-bottom: 10px;

}

#tabela{
    background-color: rgb(173, 219, 103);
    display: block;
    
   
}

#tabela th{
    padding: 20px 50px;
   
}

input, button{
    padding: 0.6rem 0.4rem;
    margin: 0.4rem;
}

button{
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 15%;
}